<h1>recipe indexページ</h1>




<% @recipes.each do |recipe| %>
  <div>
    <%= image_tag recipe.get_image %>
    <p>投稿ユーザー画像：<%= image_tag "noimage.jpg" %></p>
    <p>レシピ名：<%= recipe.name %></p>
    <p>ユーザーネーム：<%= recipe.user.name %></p>
    <p>エネルギー（kcal）：<%= recipe.energy %></p>
    <p>たんぱく質（g）：<%= recipe.protein %></p>
    <p>脂質（g）：<%= recipe.fat %></p>
    <p>食塩相当量（g）：<%= recipe.sodium %></p>
  </div>
<% end %>