
<h2>ユーザー詳細</h2>


<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_image(100,100) %>
</div>

<% unless @user.guest_user? %>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_registration_path %> |
    <%= link_to "Back", users_path %>
  <% end %>
<% end %>

<% @recipes.each do |recipe| %>
  <div>
    <%= link_to recipe_path(recipe.id) do %>
      <%= image_tag recipe.get_image, size: "200x200" %>
    <% end %>
    <p>レシピ名：<%= recipe.name %></p>
    <p>説明：<%= recipe.introduction %></p>
    <p><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></p>
    <% if recipe.user == current_user %>
      <%= link_to "編集", edit_recipe_path(recipe) %>
      <%= link_to "削除", recipe_path(recipe), method: :delete %>
    <% end %>
  </div>
<% end %>